<div class="fehlermeldung" ng-show="error">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                We currently experience technical problems and are working on it. Please try again later
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div class="fehlermeldung" ng-show="forbidden">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                <strong>Username</strong> and/or <strong>password</strong> is not correct, please try again
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div class="login">
    <div class="log-leftcol">
        <div class="icons">
            <img src="img/icon_benutzer.png">
        </div>
        <div class="icons">
            <img src="img/icon_passwort.png">
        </div>
    </div>
    <div class="log-rightcol">
        <div ng-form="form">
            <div class="ifields">
                <input placeholder="john@doe.com" ng-model="data.email" name="email" class="benutzer" type="text" ng-pattern="/^.+@.+\..+$/" required ng-class="{'valid':form.email.$valid,'error':form.email.$invalid && form.email.$dirty}">
                <div ng-show="form.email.$invalid && form.email.$dirty">«Email has invalid format»</div>
                <input placeholder="******" ng-model="data.password" name="password" class="passwort" type="text" ng-minlength="6" required ng-class="{'valid':form.password.$valid,'error':form.password.$invalid && form.password.$dirty}">
                <div ng-show="form.password.$invalid && form.password.$dirty">«Passwords must contain at least 6 characters»</div>
            </div>
            <div class="btn-login">
                <button ng-click="submit()" ng-disabled="form.$invalid"></button>
            </div>
        </div>

        <div class="spacer">
            <table>
                <tr>
                    <td><img src="img/separator.png"></td>
                    <td></td>
                    <td>or</td>
                    <td></td>
                    <td><img src="img/separator.png"></td>
                </tr>
            </table>
        </div>
        <div class="btn-register">
            <a ui-sref="stripe.registration"><span>register</span></a>
        </div>
        <div class="log-info">
            <a ui-sref="stripe.passwordRequestion">Forgot password?</a>
        </div>
        <!-- ##### Twitter & FB Login ##### -->
        <div class="log-fb">
            <img src="img/btn_fb.png">
        </div>
        <div class="log-tw">
            <img src="img/btn_tw.png">
        </div>
        <div class="log-info">
            *We'll never post to your wall
        </div>
        <!-- ##### Twitter & FB Login END ##### -->
    </div>
</div>