<div class="fehlermeldung" ng-show="error">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                We currently experience technical problems and are working on it. Please try again later
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div class="fehlermeldung" ng-show="forbidden">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                The hash was not found in the system.
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div ng-show="success">
    <div class="forgpass">
        <h1>Enter your new password here</h1>
    </div>
    <div class="login">
        <div class="log-leftcol">
            <div class="icons">
                <img src="img/icon_passwort.png">
            </div>
            <div class="icons">
                <img src="img/icon_passwort.png">
            </div>
        </div>
        <div class="log-rightcol">
            <div ng-form="form">
                <div class="ifields">
                    <input placeholder="******" ng-model="first" name="first" class="passwort" type="password" ng-minlength="6" required ng-class="{'valid': showFirstValid(),'error': showFirstInvalid()}">
                    <div ng-show="showFirstMsg()">«Passwords must contain at least 6 characters»</div>
                    <input placeholder="******" ng-model="second" name="second" class="passwort" type="password" ng-minlength="6" required ng-class="{'valid': showSecondValid(),'error': showSecondInvalid()}">
                    <div ng-show="showSecondMsg()">«Passwords must contain at least 6 characters»</div>
                    <div ng-show="showMatchingMsg()">«Password does not match the confirm password. Please check again»</div>
                </div>
                <div class="register-small">
                    <button ng-click="submit()" ng-disabled="form.$invalid"></button>
                </div>
            </div>
        </div>
    </div>
</div>