<div class="forgpass">
    <h1>Congratulations your password was changed!</h1>
</div>
<div class="success">
    <table style="">
        <tr class="valid-top"></tr>
        <tr class="valid-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                You can now login with your new password
            </td>
        </tr>
        <tr class="valid-bottom"></tr>
    </table>
</div>