<div class="forgpass">
    <h1>Good, now go check your mailbox!</h1>
</div>
<div class="success">
    <table style="">
        <tr class="valid-top"></tr>
        <tr class="valid-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                Please check your mailbox. The email delivery may take a few moments. If you don't receive this email, please check your Junk or Spam folder
            </td>
        </tr>
        <tr class="valid-bottom"></tr>
    </table>
</div>