<div class="fehlermeldung" ng-show="error">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                We currently experience technical problems and are working on it. Please try again later
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div class="fehlermeldung" ng-show="forbidden">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                <strong>{{forbidden.email}}</strong> was not found. <a ui-sref="stripe.registration">Want to create a new account?</a>
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div class="forgpass">
    <h1>Forgot your password?</h1>
    <p>Please enter your email address</p>
</div>
<div class="login">
    <div class="log-leftcol">
        <div class="icons">
            <img src="img/icon_benutzer.png">
        </div>
    </div>
    <div class="log-rightcol">
        <div ng-form="form">
            <div class="ifields">
                <input placeholder="john@doe.com" ng-model="data.email" name="email" class="benutzer" type="text" ng-pattern="/^.+@.+\..+$/" required ng-class="{'valid':form.email.$valid,'error':form.email.$invalid && form.email.$dirty}">
                <div ng-show="form.email.$invalid && form.email.$dirty">«Email has invalid format»</div>
            </div>
            <div class="send-small">
                <button ng-click="submit()" ng-disabled="form.$invalid"></button>
            </div>
        </div>
    </div>
</div>