<div class="forgpass">
    <h1>Congratulations your registration has been successful!</h1>
</div>
<div class="success">
    <table style="">
        <tr class="valid-top"></tr>
        <tr class="valid-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                An email has been sent to you to confirm your email address.
                You are now logged on and your Treehouse app will start automatically.
            </td>
        </tr>
        <tr class="valid-bottom"></tr>
    </table>
</div>