<div class="fehlermeldung" ng-show="error">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                We currently experience technical problems and are working on it. Please try again later
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div class="fehlermeldung" ng-show="forbidden">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                {{forbidden.email}} is not allowed because it is already used by another user.
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div class="login">
    <div class="log-leftcol">
        <div class="icons">
            <img src="img/icon_benutzer.png">
        </div>
        <div class="icons-pass">
            <img src="img/icon_passwort.png">
        </div>
    </div>
    <div class="log-rightcol">
        <div ng-form="form">
            <div class="ifields">
                <input placeholder="John" ng-model="data.firstName" name="firstName" class="benutzer" type="text" required ng-class="{'valid':form.firstName.$valid,'error':form.firstName.$invalid && form.firstName.$dirty}">
                <div ng-show="form.firstName.$invalid && form.firstName.$dirty">«Value is required»</div>
                <input placeholder="Doe" ng-model="data.secondName" name="secondName" class="benutzer" type="text" required ng-class="{'valid':form.secondName.$valid,'error':form.secondName.$invalid && form.secondName.$dirty}">
                <div ng-show="form.secondName.$invalid && form.secondName.$dirty">«Value is required»</div>
                <input placeholder="john@doe.com" ng-model="data.email" name="email" class="benutzer" type="text" ng-pattern="/^.+@.+\..+$/" required ng-class="{'valid':form.email.$valid,'error':form.email.$invalid && form.email.$dirty}">
                <div ng-show="form.email.$invalid && form.email.$dirty">«Email has invalid format»</div>
                <input placeholder="******" ng-model="data.password" name="password" class="passwort" type="password" ng-minlength="6" required ng-class="{'valid':form.password.$valid,'error':form.password.$invalid && form.password.$dirty}">
                <div ng-show="form.password.$invalid && form.password.$dirty">«Passwords must contain at least 6 characters»</div>
                <input class="check" type="checkbox" ng-model="data.terms" name="terms" required> general terms and conditions</input>
                <div ng-show="form.terms.$invalid && form.terms.$dirty">«Conditions must be checked»</div>
            </div>
            <div class="register-small">
                <button ng-click="submit()" ng-disabled="form.$invalid"></button>
            </div>
        </div>
        <!-- ##### Twitter & FB Login ##### -->
        <!--<div class="log-fb">
                <img src="img/btn_fb.png">
        </div>
        <div class="log-tw">
                <img src="img/btn_tw.png">
        </div>-->
        <!-- ##### Twitter & FB Login END ##### -->
    </div>
</div>
