<div class="fehlermeldung" ng-show="error">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                We currently experience technical problems and are working on it. Please try again later
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div class="fehlermeldung" ng-show="forbidden">
    <table style="">
        <tr class="error-top"></tr>
        <tr class="error-mid">
            <td valign="top" style="width:10%;">
                <img src="img/icon-info.png">
            </td>
            <td width="5%"></td>
            <td valign="top" style="width:85%;">
                This link is not active anymore, please <a ui-sref="stripe.passwordRequestion">request a new one</a>
            </td>
        </tr>
        <tr class="error-bottom"></tr>
    </table>
</div>
<div ng-show="success">
    <div class="forgpass">
        <h1>Thank you! </h1>
    </div>
    <div class="success">
        <table style="">
            <tr class="valid-top"></tr>
            <tr class="valid-mid">
                <td valign="top" style="width:10%;">
                    <img src="img/icon-info.png">
                </td>
                <td width="5%"></td>
                <td valign="top" style="width:85%;">
                    Your email has been verified.
                </td>
            </tr>
            <tr class="valid-bottom"></tr>
        </table>
    </div>
</div>