<div class="wrapper">
    <div class="wrapper-inner">
        <div class="ribbon">
            <div class="rib-left"></div>
            <div class="rib-main">
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.jpg">
                    </a>
                </div>

                <div ui-view autoscroll="false"></div>

                <div class="more">
                    <a href="http://treehouse-project.de/" target="_blank">More about Treehouse</a>
                </div>
            </div>
            <div class="rib-right"></div>
        </div>
        <div class="ribbottom"></div>
        <div class="ribend"></div>
    </div>
</div>
