@charset "UTF-8";
/* CSS Document */

.login { width: 530px; padding-left: 61px; padding-right: 66px; height: 580px;}
.icons {padding-bottom: 47px;}
input.benutzer, input.passwort{padding-top: 22px; padding-bottom: 22px; width: 270px}
.log-tw{padding-bottom: 45px;}
tr.error-mid{width: 320px}
input#error {
    border: 2px solid #D90F00 !important;
}
input#valid {
    border: 2px solid #1F8A28 !important;
}

tr.valid-mid{width: 320px}