@charset "UTF-8";
/* CSS Document */

html, body{margin: 0; padding: 0;}

/*########### NAVI ###########*/
.navi{position: absolute; right:0; width: 40px; /*background-color: #22262f; opacity: 0.7;*/ height: 300px; margin-top: 30px; z-index: 9999; padding-right: 10px;}
.nav-li{ margin-bottom: 10px; height: 30px; width: 30px;}
.nav-li a{padding-left: 10px; padding-right: 10px; padding-top: 7px; padding-bottom: 7px; background-color: #22262e; border-radius: 5px; height: 30px; width: 30px; color:#5B6677; font-family: sans-serif; text-decoration: none; opacity: 0.4; }
.nav-li a:hover{opacity: 1.0;}
.nav-li a.current{opacity: 1.0;}

/*########### NAVI END ###########*/

/*########### GENERAL SETTINGS ###########*/
html, body{margin: 0; padding: 0;}
.wrapper{}
.wrapper-inner{height: 1024px; width: 768px; margin-left: auto; margin-right: auto;}
.tipps{width:95%; height: 900px; padding: 30px;}
body{background-attachment: fixed;background-image: url(../img/bg_wood_big2.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;height: 1024px;}
/*########### GENERAL SETTINGS END ###########*/

/*########### RIBBON SETTINGS ###########*/
.ribbon{height: 1024px; width:496px; margin-left: auto; margin-right: auto;}
.rib-left, .rib-main, .rib-right{float: left;}
.rib-left{height: 1024px; width: 19px; background: url("../img/bg_rib-left.png") no-repeat; position: relative; z-index: 200;}
.rib-main{height: 1024px; width:457px; background: url("../img/bg_rib-main.png") repeat-x; position: relative; z-index: 200;}
.rib-right{height: 1024px; width: 20px; background: url("../img/bg_rib-righ.png") no-repeat; position: relative; z-index: 100;}
.ribbottom{min-height: 150px; width: 495px; background: url("../img/bg_ribbon_bottom.png") repeat-y; overflow: hidden; margin-left: auto; margin-right: auto;}
.ribend{height: 141px; width: 485px; background: url("../img/bg_rib_end.png") no-repeat; margin-left: auto; margin-right: auto;}
/*########### RIBBON SETTINGS END ###########*/

/*########### CONTENT SETTINGS ###########*/
.logo{width: 376px; height: 418px; padding-left: 47px; padding-right: 35px; padding-bottom: 30px;}
.login{width: 330px; padding-left: 61px; padding-right: 66px; height: 550px; color: #707d92; font-size: 16px; text-align: center; font-family: sans-serif; line-height: 20px;}
.fehlermeldung {color: #ffffff; font-family: sans-serif; font-size: 14px; height: auto; min-height: 25px; line-height: 20px; margin-left: 70px; text-align: left; width: 320px; margin-bottom: 30px; /*background-color: #d60000; border-radius: 12px;*/}
.fehlermeldung p{padding: 12px;}
.success {color: #ffffff; font-family: sans-serif; font-size: 14px; height: auto; min-height: 25px; line-height: 20px; margin-left: 60px; text-align: left; width: 320px; margin-bottom: 30px; }
.success p{padding: 12px;}
.login h3{font-family: sans-serif; font-size: 30px; color: #707d92; text-align: center; margin: 0px; padding: 0px; padding-bottom: 25px; text-shadow: 0 2px 3px #1a1a1a; letter-spacing: 1px;}
.log-rightcol{width: 269px;}
.log-leftcol{width: 61px;}
.log-rightcol, .log-leftcol{float: left;}
.icons{width: 41px; height: 41px; padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 7px;}
.icons-pass{width: 41px; height: 41px; padding-left: 10px; padding-right: 10px; padding-top: 120px; padding-bottom: 7px;}
.ifields{width: 269px; width: 269px; color: #5b6677; font-size: 16px; font-family: sans-serif;}
.forgpass{width: 350px; margin-left: auto; margin-right: auto; min-height: 10px; overflow: hidden; padding-bottom: 30px;}
.forgpass h1{color:#00b100; font-family: sans-serif; font-size: 24px; font-weight: 100; text-align: center; text-shadow:1px 2px 1px hsla(0,0%,0%,.75);}
.forgpass p{padding-top: 10px; padding-bottom: 10px; font-family: sans-serif; font-size: 13px; font-weight: 100; color: #989B9F;}
.log-info a, .log-info a:link, .log-info a:visited{color: #4A5362; text-decoration: none;}
.log-info a:hover, .log-info a:active{ text-decoration: underline;}
tr.valid-top{background: url(../img/bg_valid_top.png) no-repeat; width:330px; height:22px; display: block; margin-left: 5px; margin-right: 5px;}
tr.valid-mid{background: url(../img/bg_valid_mid.png) repeat-y; width:280px; min-height:30px; height: auto; overflow: hidden; display: block; padding-top:5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; margin-left: 5px; margin-right: 5px;}
tr.valid-bottom{background: url(../img/bg_valid_bottom.png) no-repeat -5px 0px; width:330px; height:22px; display: block; margin-left: 5px; margin-right: 5px;}
tr.error-top{background: url(../img/bg_error_top.png) no-repeat; width:330px; height:22px; display: block; margin-left: 5px; margin-right: 5px;}
tr.error-mid{background: url(../img/bg_error_mid.png) repeat-y; width:280px; min-height:30px; height: auto; overflow: hidden; display: block; padding-top:5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; margin-left: 5px; margin-right: 5px;}
tr.error-bottom{background: url(../img/bg_error_bottom.png) no-repeat -5px 0px; width:330px; height:22px; display: block; margin-left: 5px; margin-right: 5px;}
input.error{border: 2px solid #d90f00 !important;background: url(../img/icon_cross.png) no-repeat 235px 10px;}
input.valid{border: 2px solid #1f8a28 !important;background: url(../img/icon_right.png) no-repeat 235px 13px;}
button[disabled] {opacity: 0.5;}
/*########### CONTENT SETTINGS END ###########*/

/*########### INPUT SETTINGS ###########*/
input.benutzer, input.passwort{ height: 18px; width: 239px; border: 1px solid #4a5360; background-color: #2d3139; color: #5b6677; font-size: 16px; font-family: sans-serif; font-style: italic; border-radius: 12px 12px 12px 12px; padding: 13px; font-weight: 100; -moz-box-shadow:    inset 0 0 10px #1c2025; -webkit-box-shadow: inset 0 0 10px #1c2025; box-shadow: inset 0 0 10px #1c2025; margin-top: 5px; margin-bottom: 5px; }
input.forgot{ height: 18px; width: 239px; border: 1px solid #4a5360; background-color: #2d3139; color: #5b6677; font-size: 16px; font-family: sans-serif; font-style: italic; border-radius: 12px 12px 12px 12px; padding: 13px; font-weight: 100; -moz-box-shadow:    inset 0 0 10px #1c2025; -webkit-box-shadow: inset 0 0 10px #1c2025; box-shadow: inset 0 0 10px #1c2025; margin-top: 5px; margin-bottom: 5px; }
.btn-login button{ border: 0; width: 268px; height: 46px; background: url(../img/btn_login.png) no-repeat 0 0; display: block; box-shadow:  0px 3px 2px 0px #1C2025; border-radius: 5px;}
.btn-login button:hover{background: url(../img/btn_login.png) no-repeat 0 -46px;}
.btn-login {
    padding-top: 25px;
}
.btn-login-left a{ width: 268px; height: 46px; background: url("../img/btn_login.png") no-repeat 0 0; display: block; box-shadow:  0px 3px 2px 0px #1C2025; border-radius: 5px;}
.btn-login-left a:hover{background: url("../img/btn_login.png") no-repeat 0 -46px;}
.btn-login-center a{ width: 268px; height: 46px; background: url("../img/btn_login.png") no-repeat 0 0; display: block; box-shadow:  0px 3px 2px 0px #1C2025; border-radius: 5px;}
.btn-login-center a:hover{background: url("../img/btn_login.png") no-repeat 0 -46px;}
.register-small button{border: 0; width: 130px; height: 46px; background: url("../img/btn_register-small.png") no-repeat 0 0; display: block; box-shadow:  0px 3px 2px 0px #1C2025; border-radius: 5px; float: right; margin-right: 2px;}
.register-small button:hover{background: url("../img/btn_register-small.png") no-repeat 0 -46px;}
.send-small button{border: 0; width: 130px; height: 46px; background: url("../img/btn_send-small.png") no-repeat 0 0; display: block; box-shadow:  0px 3px 2px 0px #1C2025; border-radius: 5px; float: right; margin-right: 2px;}
.send-small button:hover{background: url("../img/btn_send-small.png") no-repeat 0 -46px;}
.send-small span{display: none;}
.send-small {
    padding-top: 25px;
}
.btn-register a{ width: 268px; height: 46px; background: url("../img/btn_register.png") no-repeat 0 0; display: block; box-shadow:  0px 3px 2px 0px #1C2025; border-radius: 5px; opacity: 0.5;}
.btn-register a:hover{background: url("../img/btn_register.png") no-repeat 0 -46px; opacity: 1.0;}
.btn-login span{display: none;}
.register-small span{display: none;}
.btn-register span{display: none;}
.register-small {padding-top: 25px;}
.btn-login-left{padding-top: 25px;}
.btn-login-center {margin-left: auto; margin-right: auto; padding-top: 25px; width: 268px;}
.spacer{color: #989b9f; font-family: sans-serif; font-style: italic; padding-left: 72px; padding-right: 72px; padding-top: 5px; padding-bottom: 5px;}
.log-fb{padding-top: 60px; padding-bottom: 10px; float: left; width: 130px; height: 32px; margin-left: -5px; margin-right: 14px;}
.log-tw{padding-top: 60px; padding-bottom: 10px; width: 130px; height: 32px; float: left;}
.log-fb img{opacity: 0.5; cursor: pointer; width: 100%;}
.log-tw img{opacity: 0.5; cursor: pointer; width: 100%;}
.log-fb img:hover{opacity: 1;}
.log-tw img:hover{opacity: 1;}
.more{margin-top: 220px; text-align: center;}
.more a{font-family: sans-serif; font-size: 16px; text-align: right; color: #4a5362; font-weight: 100; text-decoration: none;}
.more a:hover{text-decoration: underline;}
.log-info{font-family: sans-serif; font-size: 12px; text-align: right; font-style: italic; font-weight: 100; color: #4A5362; padding-top: 5px; clear: both;}
input.check{margin-right: 5px;}
/*########### INPUT SETTINGS END ###########*/

/*########### TIPPS MOSAIKS ###########*/
* {margin:0; padding:0; box-sizing:border-box;}
.mosaicflow__column {float:left;}
.mosaicflow__item {position:relative;  padding: 5px;}
.mosaicflow__item img {display:block; width:100%; max-width:500px; height:auto;}
.mosaicflow__item p {position:absolute; bottom:0; left:0; width:100%; margin:0; padding:5px; background:hsla(0,0%,0%,.5); color:#fff; font-size:14px; text-shadow:1px 1px 1px hsla(0,0%,0%,.75); opacity:0; -webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1); -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1); -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1); transition: all 0.4s cubic-bezier(0.23,1,0.32,1);}
.mosaicflow__item:hover p { opacity:1;}
/*########### TIPPS MOSAIKS END ###########*/

/*########### LEFT MENU ###########*/
#main-container {width: 100%; overflow: scroll; /* Overflow should scroll */ left: 0px; -webkit-overflow-scrolling: touch; /* This gives us scrollbars. */ position: fixed; /* This means we don't have to worry about overflow issues */ -webkit-transition: left 0.2s ease-in; transition: left 0.2s ease-in; z-index: 9998; }
.menu-icon {/*background: rgba(0,0,0,0.2);*/ cursor: pointer; display: inline-block; width: 34px; height: 132px; float: left; padding-top: 70px; }
.menu-icon .bar {background: white; border-radius: 5px; width: 40px; height: 5px; margin: 5px 0 0 0;}
.slide-in {background: url("../img/bg_slipper.png") repeat-y; width: 178px; position: absolute; /*box-shadow: inset -20px 0 30px rgba(0,0,0,0.2);*/ top: 0; left: -178px; -webkit-transition: left 0.2s ease-in; transition: left 0.2s ease-in; z-index: 7998; height: 100% !important; }
.slide-in ul { list-style: none; padding: 0; margin: 0;}
.slide-in ul li { padding: 10px; font-weight: bold; font-size: 2em; border-bottom: 2px solid #3d6071; color: #c4d6e0;}
.slide-in ul li:hover { background-color: #3d6071; color: #fff;}
.slide-in.on {left: 0px !important;}
#main-container.on {left: 171px !important; z-index: 7999;}
.profil{width: 175px; height: 57px;}
.kitchen{width: 160px; height: 31px; padding-left: 5px; padding-top: 10px; padding-bottom: 15px;}
.room{height: 59px; width: 175px;}
.friends{width: 173px; height: 47px; padding-top: 7px;}
.wedding{width: 173px; height: 41px; padding-top: 15px;}
.sport{width: 173px; height: 41px; padding-top: 15px;}
.sail{width: 173px; height: 41px; padding-top: 15px;}
.footer{width: 154px; height: 75px; padding:8px; padding-top: 533px;}

.announcements a{ width: 154px; height: 34px; background: url("../img/btn_announcments.png") no-repeat 0 0; display: block;}
.announcements a:hover{background: url("../img/btn_announcments.png") no-repeat 0 -33px;}
.feedback a{ width: 77px; height: 27px; background: url("../img/btn_feedback.png") no-repeat 0 0; display: block;}
.feedback a:hover{background: url("../img/btn_feedback.png") no-repeat 0 -27px;}
.logout a{ width: 69px; height: 27px; background: url("../img/btn_logout.png") no-repeat 0 0; display: block;}
.logout a:hover{background: url("../img/btn_logout.png") no-repeat 0 -27px;}
.announcements span, .feedback span, .logout span{display: none;}
.feedback, .logout {float: left; margin-top: 7px;}
.feedback{margin-right: 8px;}
.fancybox-skin {
    background-color:rgba(249,249,249,0.5) !important;
}

/*########### DIALOGS ###########*/
.dialog{
    padding: 20px;
    font-family: sans-serif;
}

.dialog > .title {
    padding: 20px;
    color: white;
    font-family: sans-serif;

    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #6E6E6E 0%, #000000 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #6E6E6E 0%, #000000 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #6E6E6E 0%, #000000 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6E6E6E), color-stop(1, #000000));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #6E6E6E 0%, #000000 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #6E6E6E 0%, #000000 100%);
}

.dialog .body {
    background-color: rgb(242,242,242);
    padding: 10px 20px;
}

.dialog .body .title {
}

.dialog .body input {
}

.dialog .body .settings-header .icon {
    float: left;
}
.dialog .body .settings-header .title {
    display: block;
    float: left;
}
.dialog .body .settings-header .name {
}

.dialog .body ul.member {
    clear: left;
    list-style-type:none;
}

.dialog .body ul.member li {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 5px;
}

/*########### DIALOGS END ###########*/

/*########### LEFT MENU END ###########*/

/*########### FEEDBACK ###########*/
.main-col{width: 400px; min-height: 200px; overflow: hidden; /*padding: 20px;*/ margin-top: 50px; margin-left: auto; margin-right: auto; box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.4); -moz-border-radius-topleft:  10px;  /* Firefox bis Version 3.6 */-webkit-border-top-left-radius: 10px;  /* Safari, Chrome (vor WebKit Version 533) */border-top-left-radius: 10px;-moz-border-radius-topright:  10px;  /* Firefox bis Version 3.6 */-webkit-border-top-right-radius: 10px;  /* Safari, Chrome (vor WebKit Version 533) */border-top-right-radius: 10px;-moz-border-radius-bottomleft:  10px;  /* Firefox bis Version 3.6 */-webkit-border-bottom-left-radius: 10px;  /* Safari, Chrome (vor WebKit Version 533) */border-bottom-left-radius: 10px;-moz-border-radius-bottomright:  10px;  /* Firefox bis Version 3.6 */-webkit-border-bottom-right-radius: 10px;  /* Safari, Chrome (vor WebKit Version 533) */border-bottom-right-radius: 10px;}
.mc-head{width: 400px; height: 63px; background: url(../img/bg_head_win.png) repeat-x; -moz-border-radius-topleft:  10px;  /* Firefox bis Version 3.6 */-webkit-border-top-left-radius: 10px;  /* Safari, Chrome (vor WebKit Version 533) */border-top-left-radius: 10px;-moz-border-radius-topright:  10px;  /* Firefox bis Version 3.6 */-webkit-border-top-right-radius: 10px;  /* Safari, Chrome (vor WebKit Version 533) */border-top-right-radius: 10px;}
h3{font-family: sans-serif; color: #fff; font-size: 14px; padding-left: 25px; padding-top: 23px; padding-bottom: 23px; font-weight: 100;}
.mc-cont{background-color: #f2f2f2; width: 400px; min-height: 200px; overflow: auto; -moz-border-radius-bottomleft:  10px;  /* Firefox bis Version 3.6 */-webkit-border-bottom-left-radius: 10px;  /* Safari, Chrome (vor WebKit Version 533) */border-bottom-left-radius: 10px;-moz-border-radius-bottomright:  10px;  /* Firefox bis Version 3.6 */-webkit-border-bottom-right-radius: 10px;  /* Safari, Chrome (vor WebKit Version 533) */border-bottom-right-radius: 10px;}
#fb-subhead{font-family: sans-serif; color: #696969; font-size: 16px; padding-left: 25px; padding-top: 13px; padding-bottom: 13px; font-weight: 100; font-style: italic; }
#bubble{width: 358px; height: 199px; margin-left: 21px; margin-right: 21px; background: url(../img/bg_sprechblase.png) no-repeat; padding-bottom: 10px;}
#bubble p{font-family: sans-serif; color: #999999; font-size: 12px; line-height: 16px; padding-left: 25px; padding-top:15px;}
.btn-send a{width: 32px; height: 14px; display: block; color: #fff; background: url(../img/bg_btn_send.png) no-repeat 0 0; text-decoration: none; padding-left: 34px; padding-right: 34px; padding-top: 13px; padding-bottom: 13px; font-family: sans-serif; font-size: 14px;}
.btn-send a:hover{background-position: 0 -40px;}
.btn-send{width: 100px; height: 40px; float: right; margin-top: -15px; padding-right: 23px; padding-bottom: 15px; }
/*########### FEEDBACK END ###########*/

/*########### PROJECT SETTINGS ###########*/
h4{font-family: sans-serif; color: #999999; font-size: 18px; font-weight: 600; text-transform: uppercase;}
.sett-head{width: 354px; min-height: 44px; overflow: hidden; padding-left: 23px; padding-right: 23px; padding-top: 15px; padding-bottom: 15px;}
#img-prof, #title-sett{float: left;}
#title-sett{text-align: center; padding-top: 5px;}
#title-sett p {font-family: sans-serif; color: #999999; font-size: 12px; font-style: italic; text-align: left; padding-left: 20px;}
#img-prof{width: 52px; height: 52px; padding-right: 15px;}
#sett-subhead{font-family: sans-serif; color: #999999; font-size: 12px; padding-left: 25px; padding-top: 13px; padding-bottom: 13px; font-weight: 600; font-style: italic;}
input.member{background-color: #f0eef0; padding-left: 20px; padding-right: 20px; padding-top: 15px; padding-bottom: 15px; border: 1px solid #dcdcdc; border-radius: 4px; color: #999; font-size: 12px; font-family: sans-serif; text-transform: uppercase; font-weight: 600; margin-bottom: 5px; width: 72%; float: left;}
#add-members{padding-left: 25px; padding-right: 25px;}
#add-members span{ font-size: 10px; font-family: sans-serif; color: #51b2ff; position: absolute; margin-top: 15px; margin-left: -180px;}
#add-members span#member2{ font-size: 10px; font-family: sans-serif; color: #51b2ff; position: absolute; margin-top: 67px; margin-left: -140px;}
.sep{width: 340px; height: 2px; padding-top: 20px; padding-left: 26px; padding-right: 23px; padding-bottom: 0px;}
#stroke-grey{width: 340px; height: 1px; background-color: #c1c1c1;}
#stroke-white{width: 340px; height: 1px; background-color: #fff;}
input#name{width: 50px !important; float: left; margin-right: 15px; margin-left: 25px;}
#add-members #bubble{background-size: 96.3% !important;}
#add-members #bubble p{padding-left: 20px;}
input#mail{width: 195px !important; float: none; }
input#title{width: 237px !important; float: none; }
#add-members{min-height: 95px;}
#cancel, #invite{background: url(../img/btn_invite.png) 0 0 no-repeat; height: 10px; width: 39px; display: block; font-family: sans-serif; color: #6a6a6a; font-size: 12px; padding-top: 5px; padding-bottom: 6px; padding-left: 10px; padding-right: 10px; cursor: pointer;}
#invite{width: 27px !important; padding-left: 16px !important; padding-right: 16px !important; margin-left: 5px;}
#cancel:hover, #invite:hover{background-position: 0 -21px; }
#cancel, #invite{float: right;}
.invite-cancel{width: 125px; height: 21px; display: block; margin-left: 244px; margin-top: -20px;}

#archive{background: url(../img/btn-arcpro.png) 0 0 no-repeat; height: 14px; width: 80px; display: block; font-family: sans-serif; color: #fff; font-size: 12px; padding-top: 13px; padding-bottom: 13px; padding-left: 10px; padding-right: 10px; cursor: pointer; margin-right: 5px;}
#delete{background: url(../img/btn-delpro.png) 0 0 no-repeat; height: 14px; width: 76px; display: block; font-family: sans-serif; color: #fff; font-size: 12px; padding-top: 13px; padding-bottom: 13px; padding-left: 12px; padding-right: 12px; cursor: pointer;}
#archive:hover, #delete:hover{background-position: 0 -40px; }
#archive, #delete{float: right;}
.delete-archive{width: 205px; height: 40px; display: block; margin-left: 164px; margin-top: 10px; margin-bottom: 20px;}
#prof-img{height: 50px; width: 50px; float: left;}
#done{width: 78px; height: 29px; position: absolute; margin-top: -46px; margin-left: 292px;}
a.done{width: 78px; height: 29px; background: url(../img/done.png) no-repeat 0 0; display: block;}
a.done:hover{width: 78px; height: 29px; background: url(../img/done.png) no-repeat 0 -30px; display: block;}
a.done span{display: none;}
/*########### PROJECT SETTINGS END ###########*/

/*########### PROJECT WALL ###########*/
.wall{width: 442px; min-height: 200px; overflow: hidden; height: auto; margin-left: auto; margin-right: auto; margin-top: 50px;}
.wall-status{width: 442px; min-height: 60px; overflow: hidden; height: auto; padding-bottom: 20px;}
#pw-top{width: 442px; height: 18px; background: url(../img/bg-pw-top.png) no-repeat;}
#pw-main{width: 442px; min-height: 20px; overflow: hidden; height: auto; background: url(../img/bg-pw-main.png) repeat-y;}
#pw-bottom{width: 442px; height: 26px; background: url(../img/bg-pw-bottom.png) no-repeat;}
.pw-inner{padding-left: 20px; padding-right: 20px; width: 402px;}
h5{font-family: sans-serif; font-size: 16px; color: #57abec; font-style: italic;}
.top-lead{padding-left: 20px; padding-right: 20px; width: 402px; padding-top: 8px; height: auto; min-height: 20px; overflow: hidden;}
#top-lead-img, #top-lead-lead{float: left;}
#top-lead-img{width: 23px; height: 23px; margin-right:10px; }
#top-lead-name{font-family: sans-serif; font-size: 14px; font-weight: 600; color: #23272d;}
#top-lead-status{font-family: sans-serif; font-size: 11px; font-weight: 100; font-style: italic; color: #5b5b5b; margin-top: -2px;}
#top-lead-separator{padding-top: 7px; padding-bottom: 12px; height: 2px; padding-left: 20px; padding-right: 20px; width: 402px;}
.top-lead-members{padding-left: 20px; padding-right: 20px; width: 402px;}
#tlm-img, #tlm-name{float: left;}
#tlm-img{width: 15px; height: 16px; padding-right: 5px;}
#tlm-name{font-family: sans-serif; color: #575a5e; font-size: 11px; font-weight: 600; height: 10px; padding-top: 3px; padding-bottom: 3px;}
#tlm-wrapper{padding-right: 8px; width: auto; height: 16px; float: left;}
.top-lead-setting{position: absolute; margin-top: -32px; margin-left: 375px;}
#top-lead-date{font-family: sans-serif; font-size: 11px; font-weight: 100; font-style: italic; color: #57abec;}
#tl-icon-star{float: left; padding-right: 5px; padding-top: 2px; padding-left: 5px;}
#tl-icon-gear{padding-top: 3px;}
.tabs{width: 100%; height: 22px;}
span.new{position: absolute; margin-left: 143px; margin-top: -23px;}
.tabs{width: 100%; height: 22px;}
.new-topic{float: left; width: 50%; height: 22px; background: url(../img/bg_new-topic.png) repeat-x; box-shadow:  0px 3px 4px 0px #1C2025;}
.summary{float: right; width: 50%; height: 22px; background: url(../img/bg_summary.png) repeat-x; box-shadow:  0px 3px 4px 0px #1C2025;}
.new-topic:hover{float: left; width: 50%; height: 22px; background: url(../img/bg_new-topic_hover.png) repeat-x;}
.summary:hover{float: right; width: 50%; height: 22px; background: url(../img/bg_summary_hover.png) repeat-x;}
.nt-inner{padding-top: 5px; padding-bottom: 5px; padding-right: 35%; padding-left: 35%; width: 30%; height: 22px;}
#nt-left, #nt-right{float: left;}
#nt-left{margin-top:1px; margin-right: 5px;}
#nt-right{font-size: 13px; font-family: sans-serif; color: #fff;}
/*########### PROJECT WALL END ###########*/

/*########### CONTRIBUTION ###########*/
input.message{background-color: #fff; padding-left: 10px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; border: 1px solid #dcdcdc; border-radius: 4px; color: #999; font-size: 12px; font-family: sans-serif;  font-weight: 400; margin-bottom: 5px; width: 272px; float: left; margin-left: 20px; float: left;}
a.message-send{width: 90px; height: 35px; background: url(../img/btn_message-send.png) no-repeat 0 0; display: block; float: right; margin-right: 20px; text-decoration: none;}
a.message-send:hover{background-position: 0 -35px;}
a.message-send span{display: none;}
.add-photo{width: 150px; height: 39px; background: url(../img/btn_add-photo.png) no-repeat 0 0; display: block; margin-left: 19px; float: left; margin-right: 5px;}
.add-photo:hover{background-position: 0 -39px; }
.add-files{width: 150px; height: 39px; background: url(../img/btn_add-files.png) no-repeat 0 0; display: block; float: left;}
.add-files:hover{background-position: 0 -39px;}
.message-sent{width: 100%; height: 35px; margin-bottom: 10px;}
/*########### CONTRIBUTION END ###########*/
